@charset "utf-8";

html { 
	color:#000; 
	background:#FFF; 
}

body { 
	height: 100%; 
	line-height: 1.6; 
	color: #666; 
	font-family: 'ヒラギノ角ゴ Pro', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', Osaka, Verdana, Helvetica, Arial, sans-serif; 
	font-size: 18px; 
	background: #fff; 
}

footer {
	width: 100%;
    background: #F0F0F0;
    font-size: 12px;
}

footer .copy-right {
	float:right;
}

h1 {
	margin: 0 auto 20px;
	padding: 4px 10px;
	background-color: #449DFF;
	color: white;
}


h2 {
	color: #449DFF;
	padding-left: 5px;
	border-left: solid 5px #449DFF;
	border-bottom: solid 1px #000;
}
	
h3 {
	color: #000000;
	border-bottom: solid 1px #000;
	border-left: none;
}

code pre, samp pre{
	margin: 20px 2px;
	display: block;
	padding: 2px 10px;
	margin-left: 20px;
	background: #DCDCDC;
	border: dotted 1px #333;
	width: 90%;
}

dt {
	font-weight: bold;
}

dd {
	margin-left: 30px;
	margin-bottom: 20px;
}

.memo {
	margin: 20px;
	padding: 10px;
	border: solid 1px #8A0D54;
	width: 90%;
}

p {
	margin-bottom: 4px;
}

table {
	margin-left: 20px;
}

th {
	padding: 2px 4px;
	background-color: #EDEDED;
	text-align: left;
}

td:first-child {
	white-space: nowrap;
}

em {
	font-weight: bold;
	color: #FF0000;
}

i {
	font-style: italic;
	font-family: sans-serif;
}
